<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Totem de Atendimento
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <div class="container">
    <h2 class="ion-text-center">Bem-vindo ao Laboratório</h2>
    <p class="ion-text-center">Toque em uma das opções abaixo para retirar sua senha:</p>

    <ion-grid>
      <ion-row>
        <ion-col size="12">
          <ion-button expand="block" color="danger" size="large" (click)="emitirSenha('SP')">
            <ion-icon name="alert-circle-outline" slot="start"></ion-icon>
            Senha Prioritária
          </ion-button>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="12">
          <ion-button expand="block" color="secondary" size="large" (click)="emitirSenha('SE')">
            <ion-icon name="document-text-outline" slot="start"></ion-icon>
            Retirada de Exames
          </ion-button>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="12">
          <ion-button expand="block" color="tertiary" size="large" (click)="emitirSenha('SG')">
            <ion-icon name="people-outline" slot="start"></ion-icon>
            Atendimento Geral
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>